<a href="https://colab.research.google.com/github/ayuksekdag/pokemonviz/blob/main/pokemonviz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
df = pd.read_csv('https://raw.githubusercontent.com/ayuksekdag/pokemonviz/main/pokemon.csv')
df.head(4)

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False

[4 rows x 13 columns]

how is the filling og the datafram

In [53]:
df.shape

(800, 13)

#drop # column

In [54]:
print(df.columns)
print(df.shape)
del df['#']
print(df.columns)
print (df.shape)

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
(800, 13)
Index(['Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
(800, 12)

replace column names to upper

In [55]:
df.columns = df.columns.str.upper()
df.columns

Index(['NAME', 'TYPE 1', 'TYPE 2', 'TOTAL', 'HP', 'ATTACK', 'DEFENSE',
       'SP. ATK', 'SP. DEF', 'SPEED', 'GENERATION', 'LEGENDARY'],
      dtype='object')

set the index on name 
so you can search wil method loc

In [56]:
df.set_index('NAME',inplace=True)

In [72]:
# sample
df.columns
df.loc [['Volcanion','Venusaur'] ]

          TYPE 1  TYPE 2  TOTAL  HP  ...  SP. DEF  SPEED  GENERATION  LEGENDARY
NAME                                 ...
Volcanion   Fire   Water    600  80  ...       90     70           6       True
Venusaur   Grass  Poison    525  80  ...      100     80           1      False

[2 rows x 11 columns]

replace NaN values

In [80]:
df['TYPE 2'].fillna(df['TYPE 1'],inplace=True)

In [81]:
df.head(10)

                          TYPE 1  TYPE 2  TOTAL  ...  SPEED  GENERATION  LEGENDARY
NAME                                             ...
Bulbasaur                  Grass  Poison    318  ...     45           1      False
Ivysaur                    Grass  Poison    405  ...     60           1      False
Venusaur                   Grass  Poison    525  ...     80           1      False
VenusaurMega Venusaur      Grass  Poison    625  ...     80           1      False
Charmander                  Fire    Fire    309  ...     65           1      False
Charmeleon                  Fire    Fire    405  ...     80           1      False
Charizard                   Fire  Flying    534  ...    100           1      False
CharizardMega Charizard X   Fire  Dragon    634  ...    100           1      False
CharizardMega Charizard Y   Fire  Flying    634  ...    100           1      False
Squirtle                   Water   Water    314  ...     43           1      False

[10 rows x 11 columns]